<!-- Footer -->
<br>
<br>
<br>
<br>
<footer class="page-footer font-small fixed-bottom" style="background-color: #27ae60; color:white;">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright: Online Banking</div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->